<html>
  <head>
    <title>third Page-about</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  
  <body style="background:linear-gradient(to right,rgba(255, 152, 0, 0.67),white)">

    <div class="container">
      <b><center><h1 style="font-size:250%" style="font-family:verdana">Enroll</h1></center></b>
	  
	  <p style="font-size:200%" style="font-family:verdana">Please select Degree Course:</p>
	  
	  <p></p>
	  
	  <br />
    <b><a href="{{ url_for('news') }}">MS Software Engineering</a></b>
      <br />
	  <br />
	  <b><a href="{{ url_for('CE') }}">MS Computer Engineering</a></b>
      <br />
	  <br />
	  <b><a href="{{ url_for('EE') }}">MS Electrical Engineering</a></b>
      <br />
	  <br />
	
    </div>
  </body>
</html>
