<html>
  <head>
    <title>third Page-NEWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  
  <body>
    <div class="container">
     
	  <center><h1>MSSE courses are as below: (Choose only 3)</h1></center>
      <br />
	  
	  <form action="upload.html" method="GET"> 
	  <input type="checkbox" name="202"  />CMPE 202
      <br />
	  <input type="checkbox" name="272"  />CMPE 272
      <br />
	  <input type="checkbox" name="281"  />CMPE 281
      <br />
	  <input type="checkbox" name="277"  />CMPE 277
      <br />
	  <input type="checkbox" name="297"  />CMPE 297
      <br />
	  <input type="checkbox" name="273"  />CMPE 273
      <p></p>
	  <input type="submit" name="submit" value="Register!!"/>
	  
	</form>
    </div>
  </body>
</html>