<html>
  <head>
   
    <title>Second Page-Enrollment Details</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
   
  </head>
  
  <body style="background:linear-gradient(to right,rgba(255, 152, 0, 0.67),white)">

    <div class="container">
      <br>
      <br>
      <center><h1 style="color:black">Please try after some time!!!Some error occured...Contact Administrator..
	  </h1></center>
      <br>
      <br>
      <center>
    
      </center>
	  
    </div>
  </body>
</html>
